{
  "supervisor_password": "z5bn=QT}6{28=o2[Q>-7j3D4R",
  "shorturl_token": "oFOr1As8P4OTJTKIXM2ChRl8Xv7y5W6PE35So5Q3",
  "postgres_uri": "ecto://username:password@localhost/db_name",
  "glue_secret": "]8]26q~ZdGXnjn{dEy_$96{j44vKC11v",
  "checker_mal_secret": "g0I9YMEhX5uVWjUh0jPyU30hpvF3aMhv5DRLDf8Q/nEOKxYNRWu/z3w1hJFXQAh/",
  "checker_mal_uri": "ecto://username:password@localhost/db_name"
}
