{
	"supervisor_password": "z5bn=QT}6{28=o2[Q>-7j3D4R",
	"postgres_uri": "ecto://username:password@localhost/db_name",
	"glue_secret": "]8]26q~ZdGXnjn{dEy_$96{j44vKC11v",
  "trakt_api_key": "EVqek61M0N480N56wEUqMRvBxn82M2VsInx925H8",
  "tmdb_api_key": "90J0L1s21OL6WVXsTG1heV1WK7XN6r0jcv0NJFSO"
}
