{
  "supervisor_password": "z5bn=QT}6{28=o2[Q>-7j3D4R",
  "clipboard_password": "~Hr3S65rff[`4sBxO6?K",
  "currently_listening_password": "1e<`b.,Y$S_48CL<rvu7",
  "shorturl_token": "oFOr1As8P4OTJTKIXM2ChRl8Xv7y5W6PE35So5Q3",
  "mal_clientid": "E28hX3R7FarYTeb0vXK9",
  "glue_secret": "]8]26q~ZdGXnjn{dEy_$96{j44vKC11v",
  "dbsentinel_secret": "OXM841d3snuvx8h401NCOXM841d3snuvx8h401NCOXM841d3snuvx8h401NC",
  "checker_mal_secret": "g0I9YMEhX5uVWjUh0jPyU30hpvF3aMhv5DRLDf8Q/nEOKxYNRWu/z3w1hJFXQAh/"
}
